.input-field {
  width: 100%;
  padding: 12px 27px;
  border-radius: 45px;
  box-sizing: border-box;
  height: 57px;
  border: 1px solid rgba(255, 255, 255, 0.23);
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.48) inset;
  backdrop-filter: blur(2.5px);
  font-size: 16px;
}

.input-field::placeholder {
  color: rgba(255, 255, 255, 0.44);
  font-size: 16px;
}

.input-field:focus {
  border: 1px solid rgba(255, 255, 255, 0.4);
  outline: none;
}
