.checkbox-input {
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.23);
  border-radius: 45px;
  padding: 0 13px;
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.48) inset;
  backdrop-filter: blur(2.5px);
  height: 57px;
  box-sizing: border-box;
}

.checkbox-input-item {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.checkbox-input-item input[type="checkbox"] {
  display: none;
}

.checkbox-input-item label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.checkbox-input-item label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.23);
  background: rgba(255, 255, 255, 0.01);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.48) inset;
  backdrop-filter: blur(2.5px);
  transition: background 0.3s, border 0.3s;
}

.checkbox-input-item input[type="checkbox"]:checked + label:before {
  background: rgba(217, 217, 217, 0.44);
}

.checkbox-input-item input[type="checkbox"]:checked + label:after {
  display: none;
}

.checkbox-input-item label:hover:before {
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid rgba(255, 255, 255, 0.23);
}

.checkbox-input-item input[type="checkbox"]:active + label:before {
  background: rgba(255, 255, 255, 0.01);
  transform: translateY(-50%) scale(0.98);
}

.checkbox-input-item input[type="checkbox"]:focus + label:before {
  outline: none;
}
