.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.01);
  color: #ffffff;
  border: none;
  border-radius: 980px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.2s ease;
  outline: none;
  height: 57px;
  -webkit-tap-highlight-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.23);
}

.button:hover {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.118);
}

.button:active {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(0.98);
}

.button:focus {
  outline: none;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: rgba(234, 226, 183, 0.05);
}

.button--small {
  padding: 8px 16px;
  font-size: 14px;
}

.button--medium {
  padding: 12px 24px;
  font-size: 16px;
}

.button--large {
  padding: 16px 32px;
  font-size: 18px;
}

.button--secondary {
  background: rgba(234, 226, 183, 0.08);
  color: var(--vanilla);
  border: 1px solid rgba(234, 226, 183, 0.3);
}

.button--secondary:hover {
  background: rgba(234, 226, 183, 0.12);
  border-color: rgba(234, 226, 183, 0.4);
} 